* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    overflow-x: hidden;
}

.navbar {
    background-color: #222;
    padding: 15px;
    margin-bottom: 20px;
}

.navbar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.producto-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
}
